* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body .botao1, .botao2, .botao3, .botao4, .botao5, .botao6, .botao7 ,.botao8,.lugarskin {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao1,
.botao2,
.botao3,
.botao4,
.botao5,
.botao6,
.botao7,
.botao8 {
    width: 300px;
    height: 60px;
    background-color: #c0c0c0;
    border: black 4px solid;
    display: block;
}

.nome {
    display: block;
    margin: auto;
    width: 500px;

}

.lugarskin {
    width: 300px;
    height: 60px;
    background-color: #c0c0c0;
    border: black 4px solid;
    display: block;
    position: absolute;
    top: 750px;
    left: 1400px;

}
.skin{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 250px;
    left: 1400px;
}

.botao1:hover,
.botao2:hover,
.botao3:hover,
.botao4:hover,
.botao5:hover,
.botao6:hover,
.botao7:hover,
.botao8:hover,
.skin:hover,
.lugarskin:hover {
    transform: translateY(-8px) scale(1.06);

}